.wrapPaper {
    padding: 44px 60px;
    min-width: 500px;
    margin-top: 48px;
    margin-bottom: 48px;
}

:global(.MuiGrid-item:not(:last-of-type)) {
    margin-bottom: 30px !important;
}

.wrapFakePaper {
    composes: wrapPaper;
    left: 20px;
    width: 25%;
    position: absolute;
}